<p style="color: green"><%= notice %></p>

<div>
  <h1>States</h1>

  <div style='margin-top: 10px;'>
    <%= link_to "New state", new_state_path, class: 'primary' %>
  </div>
</div>

<div id="states" class='parent' style="margin-top: 10px;">
  <% @states.each do |state| %>
    <%= link_to state_path(state) do %>
      <div class='child' >
        <%= render state %>
      </div>
    <% end %>
  <% end %>
</div>

<div style='margin-top: 50px;'>
  <h2>Import states and cities:</h2>
  <%= button_to "Import", import_locales_jobs_path(:method => :post), class: 'primary' %>
</div>

