<p style="color: green"><%= notice %></p>

<h1><%= render @state %></h1>

<div style="text-decoration: underline;">
  <%= link_to "Back to states", states_path %>
</div>

<div class='display-buttons'>
  <%= link_to "Edit state", edit_state_path(@state), class: 'primary' %> 
  <%= button_to "Destroy", @state, method: :delete, class: 'secondary' %>
</div>

<%= render 'cities/list' %>
