<p style="color: green"><%= notice %></p>

<h1><%= render @state %></h1>

<div>
  <%= link_to "Edit this state", edit_state_path(@state) %> |
  <%= link_to "Back to states", states_path %>

  <%= button_to "Destroy this state", @state, method: :delete %>
</div>

<%= render 'cities/index' %>
