<p style="color: green"><%= notice %></p>

<%= render @city %>

<div>
  <%= link_to "Edit this city", edit_state_city_path(@state, @city) %> |
  <%= link_to "Back to state", state_path(@state) %>

  <%= button_to "Destroy this city", [@state, @city], method: :delete %>
</div>
